<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>686798581659-c75hr9v4ld7npi0oun76f53rv1ihtqfl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686798581659-c75hr9v4ld7npi0oun76f53rv1ihtqfl</string>
	<key>API_KEY</key>
	<string>AIzaSyBvoud5U5jeU_JZsp2W_QaX3K6RjLxgmrs</string>
	<key>GCM_SENDER_ID</key>
	<string>686798581659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vojtechkalivoda.FreeFlashCards</string>
	<key>PROJECT_ID</key>
	<string>free-flashcards</string>
	<key>STORAGE_BUCKET</key>
	<string>free-flashcards.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686798581659:ios:43a1cdcb6c8bdacf4dfb3e</string>
</dict>
</plist>