<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>fb784041516358882</string>
            </array>
        </dict>
        
        
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.686798581659-c75hr9v4ld7npi0oun76f53rv1ihtqfl</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>686798581659-c75hr9v4ld7npi0oun76f53rv1ihtqfl.apps.googleusercontent.com</string>
    
    
    
<!--    <key>CFBundleURLTypes</key>-->
<!--    <array>-->
<!--        -->
<!--    </array>-->
    <key>FacebookAppID</key>
    <string>784041516358882</string>
    <key>FacebookClientToken</key>
    <string>63e185e515b089b14c0aa00a182513c4</string>
    <key>FacebookDisplayName</key>
    <string>FreeFlashCards</string>
    
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>fbapi</string>
        <string>fb-messenger-share-api</string>
    </array>
    
</dict>
</plist>
